body {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    text-align: left;
    margin: 50px;
}

#myButton {
    font-size: 2em;
    padding: 5px 25px;
    border-radius: 10px;
    background-color: rgb(27, 95, 172);
    border-color: rgb(100, 120, 235);
    color: rgb(255, 255, 255);
}

.myLabels {
    font-size: 5em;
    color: rgb(105, 127, 252);
}